{% extends 'base.html' %}

{% load mathfilters %}

{% load bootstrap %}

{% block content %}

<br>

<body style="background-color: #34495e;">

<style>

	.content-table {
	  border-collapse: collapse;
	  margin: 0 auto;
	  font-size: 0.9em;
	  min-width: 400px;
	  border-radius: 5px 5px 0 0;
	  overflow: hidden;
	  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	}

	.content-table thead tr {
	  background-color: #2c3e50;
	  color: #ffffff;
	  text-align: left;
	  font-weight: bold;
	}

	.content-table th,
	.content-table td {
	  padding: 12px 15px;
	}

	.content-table tbody tr {
	  border-bottom: 1px solid #dddddd;
	  background-color: white;
	}

	.content-table tbody tr:last-of-type {
	  border-bottom: 2px solid #2c3e50;
	}

	.content-table tbody tr.active-row {
	  font-weight: bold;
	  color: #009879;
	}

	.content-table tr:hover td {
	  color: #2c3e50;
	  background-color: #ecf0f1;
	}


</style>

<div class="container">
	<table class="content-table">
		<thead>
			<tr>
				<center><h1 class="display-3 text-white ">Estoque Atual</h1></center>
			</tr>
			<tr>
			    <th><center>Tipo</center></th>
				<th><center>Cor</center></th>
				<th><center>M (BL)</center></th>
				<th><center>G (BL)</center></th>
				<th><center>P</center></th>
				<th><center>M</center></th>
				<th><center>G</center></th>
				<th><center>GG</center></th>
				<th><center>Total</center></th>
			</tr>
		</thead>
			<tbody>
				{% for item in resultado %}
					<tr>
						<td><center>{{ item.tipo }}</center></td>
						<td><center>{{ item.cor }}</center></td>
						<td><center>{{ item.MBL }}</center></td>
						<td><center>{{ item.GBL }}</center></td>
						<td><center>{{ item.P }}</center></td>
						<td><center>{{ item.M }}</center></td>
						<td><center>{{ item.G }}</center></td>
						<td><center>{{ item.GG }}</center></td>
						<td><center>{{ item.MBL|add:item.GBL|add:item.P|add:item.M|add:item.G|add:item.GG }}</center></td>
					</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}