.none {
	color: white;
	background-color: white;
}

.color {
	background-color: #34495e;
	color: white;
}

.table {
	background-color: white;
}

.navbar_color {
	background-color: #2c3e50;
}

.navbar {
	background: #2c3e50 !important;
}

.hello-msg {
	font-size: 15px !important;
	color: #fff !important;
	margin-right: 20px !important;
}

.nav-item {
	font-size: 15px !important;
}

